#main_container {
    layout: horizontal;
    height: 100%;
}

#left_pane {
    width: 40%;
    height: 100%;
    border-right: solid $primary;
    padding: 1;
}

#right_pane {
    width: 60%;
    height: 100%;
    padding: 1;
}

.title {
    background: $primary;
    color: $text;
    width: 100%;
    padding: 1;
    margin-bottom: 1;
    text-align: center;
}

#status_bar {
    layout: horizontal;
    height: auto;
    margin-bottom: 1;
}

#status_bar Static {
    width: 1fr;
}

#portfolio_bar {
    layout: horizontal;
    height: auto;
    margin-bottom: 1;
}

#portfolio_bar Static {
    width: 1fr;
}


#action_bar {
    height: auto;
    margin-top: 1;
}

#action_bar Button {
    width: 1fr;
}

#log_title {
    margin-top: 1;
}
